@font-face {
    font-family: 'Press Start';
    src: url('/tt/pressstart2p.eot');
    src: url('/tt/pressstart2p.eot?#iefix') format('embedded-opentype'),
         url('/tt/pressstart2p.woff') format('woff'),
         url('/tt/pressstart2p.ttf') format('truetype'),
         url('/tt/pressstart2p.svg#press_start_2pregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* BLINK CSS */
@-webkit-keyframes blink {  
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}

.blink {
  -webkit-animation-name: blink;  
  -webkit-animation-iteration-count: infinite;  
  -webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
  -webkit-animation-duration: 1s; 
}


body {

}


fieldset {
  background: #ccc;
}

table {
  width: 100%;
}

label {
  font-size: 1.2em;
  font-weight: bold;
  color: #111;
}

legend  {
  font-size: 1.4em;
  color: #000;
}


.triumph {
  font-size: 1.2em;
}
.mainPage {
  font-family: "Press Start";
  background-color: #000;
  color:#fff;
  padding:40px;
}
.top-bar .name h1 {
	padding-left: 67px;
	background-image: url('/img/chuck.png');
	background-repeat: no-repeat;
}

.tags {
  font-size: 0.5em;
  color: #8a0;
}

.question {
  padding-bottom: 40px;
  font-size: 16;
  text-align: center;

}
.triumph-text {
  font-size: 36px;
  padding: 40px;
  margin-bottom: 40px;
}

td {
  vertical-align: top;
}

.container {
  width: auto;
  margin:0px auto;
  max-width: 800px;
}

#score {
  color: #22f;
  font-size: 1.4em;
}

#likes {
  color: #2f2;
  font-size: 1.4em;
}

#dislikes {
  color: #f22;
  font-size: 1.4em;
}

.event, .comment {
  padding: 15px 0;
  border-top: 1px solid #e8e8e8;
}

.error {
  color: #FF2602;
}

.form-actions {
  border: 0;
  margin-top: 20px;
}

.up,.down {
  margin:20px;
}
