<nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->  
    <li class="name">
      <h1><a href="/">ChUcK Node</a></h1>
    </li>
  </ul>
  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="left">
      <li class="divider"></li>
      <li class="has-form">
        <a class="button" href="/triumphs/new">Submit A Chuck Feat!</a>
      </li>
      <li class="divider"></li>
      <li>
        <a  href="/triumphs">Show All</a>
      </li>    
    </ul>

    <!-- Right Nav Section -->
    <ul class="right">
      <li class="divider"></li>
      <li>
        <a class="button alert" href="http://www.traackr.com">Built By TRAACKR</a>
      </li>
      <li class="divider"></li>
      <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
    </ul>
  </section>
</nav>