<style type="text/css">
    #fbiframe
{
transform: scale(1.5);
-ms-transform: scale(1.5); 
-webkit-transform: scale(1.5); 
-o-transform: scale(1.5); 
-moz-transform: scale(1.5); 
transform-origin: top left;
-ms-transform-origin: top left;
-webkit-transform-origin: top left;
-moz-transform-origin: top left;
-webkit-transform-origin: top left;
}
</style>
{{#if fact}} {{#with fact}}
<div class="mainPage">
    <div class="row">
        <div class="show-for-large-up large-12 columns">
            <div class="question">Chuck Norris Fact:</div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="large-12 columns">
            <center>
                <img width="300" src="/img/chuck-big.jpg" />
            </center>
        </div>
    </div>


    <div class="row">
        <div class="large-12 columns">
            <center>
                <div class="fact-text">{{text}}
                    <br/>
                </div>
                <span class="byline">Submitted by: {{#if author}} {{author}}{{else}} Anonymous {{/if}}{{#if location}}, {{location}} {{/if}}
                {{#compare _id '524318dd67d03b0800000002' operator='=='}}</span>
                    <iframe width="420" height="315" src="//www.youtube.com/embed/IAISUDbjXj0?autoplay=1" frameborder="0" allowfullscreen></iframe>
                {{/compare}}
            </center>

        </div>
    </div>
    <br/>
    <div class="score-board">
        <div class="row">
            <div class="large-4 small-4 columns" style="text-align: center;">
                <i data-id="{{_id}}" class="button round success up fa fa-thumbs-up"></i>
                <br/><span id="likes">{{likes}}</span>
            </div>
            <div class="large-4 small-4 columns" style="text-align: center;">
                <a href="/"><i class="button round primary fa next fa-arrow-right"></i></a>
                <br/><span>Next</span>
            </div>
            <div class="large-4 small-4 columns" style="text-align: center;">
                <i data-id="{{_id}}" class="button round alert down fa fa-thumbs-down"></i>
                <br/><span id="dislikes">{{dislikes}}</span>
            </div>
        </div>
    </div>


    <div id="submit-chuck-fact" style="text-align:center"><a class="button" href="/facts/new">Submit A Chuck Norris Fact!</a>
<a href="https://twitter.com/share" data-url="{{#if tinyUrl}}{{tinyUrl}}{{/if}}" data-text="Chuck Norris Fact: {{text}}" class="twitter-share-button" data-lang="en" data-size="large" data-count="none">Tweet this fact</a>


<div class="fb-like" data-href="{{tinyUrl}}" data-layout="button" data-action="like" data-show-faces="false" data-share="true"></div>

    </div>
    {{/with}} {{/if}}
    <div style="text-align:center"><small>Copyright &copy; 2014 TRAACKR</small></div>
</div>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

