{{#if triumph}} {{#with triumph}}
<div class="mainPage">
    <div class="row">
        <div class="large-12 columns">
            <div class="question">Chuck Norris Fact:</div>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <center>
                <img width="300" src="/img/chuck-big.jpg" />
            </center>
        </div>
    </div>


    <div class="row">
        <div class="large-12 columns">
            <center>
                <div class="triumph-text">{{text}}
                    <br/>
                    <span class="reload"><a href="/">NEXT</a>
                    </span>
                </div>
            </center>

        </div>
    </div>

    <div class="score-board">
    <div class="row">
        <div class="large-5 small-5 columns">
            <img class="up" data-id="{{_id}}" src="/img/up.png" />
        Likes:
            <span id="likes">{{likes}}</span>
        </div>
        <div class="large-2 small-2 columns">
        </div>
        <div class="large-5 small-5 columns">Dislikes:
            <span id="dislikes">{{dislikes}}</span>
            <img class="down" data-id="{{_id}}" src="/img/down.png" />
        </div>
    </div>
    </div>
    {{/with}} {{/if}}

    <div id="submit-chuck-fact"><a class="button" href="/facts/new">Submit A Chuck Norris Fact!</a></div>

