{{#if triumph}} {{#with triumph}}
<div class="mainPage">
    <div class="row">
        <div class="large-12 columns">
            <div class="question">Chuck Norris Fact:</div>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <center>
                <img width="300" src="/img/chuck-big.jpg" />
            </center>
        </div>
    </div>


    <div class="row">
        <div class="large-12 columns">
            <center>
                <div class="triumph-text">{{text}}
                    <br/>
                    <span class="reload"><a href="/">NEXT</a>
                    </span>
                </div>
            </center>

        </div>
    </div>

    <div class="score-board">
        <div class="row">
            <div class="large-5 small-5 columns">
                Likes:
                <span id="likes">{{likes}}</span>
                <i data-id="{{_id}}" class="up fa fa-thumbs-up"></i>

            </div>
            <div class="large-2 small-2 columns">
            </div>
            <div class="large-5 small-5 columns" style="text-align: right;">Dislikes:
                <span id="dislikes">{{dislikes}}</span>
                <i data-id="{{_id}}" class="down fa fa-thumbs-down"></i>
            </div>
        </div>
    </div>
    {{/with}} {{/if}}

    <div id="submit-chuck-fact"><a class="button" href="/facts/new">Submit A Chuck Norris Fact!</a>
    </div>
