        <div class="main-head">
          <h2>Chuck Norris Facts!</h2>
        </div>
        {{> facts/list}}
        </table><br>
        <div class="pagination-centered">
        <ul class="pagination">
          {{#paginate pagination type="previous"}}
            <li class="arrow {{#if disabled}} unavailable"{{/if}}"><a href="?page={{n}}" >«</a></li>
          {{/paginate}}
          {{#paginate pagination type="middle" limit="7"}}
            <li {{#if active}}class="current"{{/if}}><a href="?page={{n}}">{{n}}</a></li>
          {{/paginate}}
          {{#paginate pagination type="next"}}
            <li class="arrow {{#if disabled}} unavailable"{{/if}}"><a href="?page={{n}}">»</a></li>
          {{/paginate}}
        </ul> 
        </div>       
        <hr/>

        <a href="/facts/new">Add a Chuck Norris Fact</a>

        <center>
        </center>
