<form method="post" action="/triumphs{{#if triumph.isNew}}{{else}}/{{triumph._id}}{{/if}}" enctype="application/x-www-form-urlencoded" class="form-horizontal">
    <fieldset>
    <legend>What Can Chuck Norris Do?</legend>
      {{#if triumph.isNew}}{{else}}<input type="hidden" name="_method" value="PUT" />{{/if}}   

    <div class="row">
      <div class="large-12 columns">
        <label>Chuck Norris Can: </label>
        <input id="text" type="text" name="text" value="{{triumph.text}}" placeholder="What can chuck do?">
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <label>Tags: </label>
        <input id="tags" type="text" name="tags" value="{{triumph.tags}}" placeholder="Tags" type="text">
      </div>
    </div>   

    <div class="row">
      <div class="large-12 columns">
      <div class="form-actions">
        <button type="submit" class="button success">Save changes</button>&nbsp;<a href="/" title="cancel" class="button alert">Cancel</a>
      </div       
      </div>
    </div>         
  </fieldset>
</form>