<!DOCTYPE html>
<html>
  {{> head}}
  <body>
    <div class="wrapper">
	 {{> header}}
      <div class="container">
        <div class="main-content">
          <div class="main-head">
            {{#if errors}}
            <div class="round alert label">
              <ul> 
                {{#each errors}} 
                  <li>{{this}}</li>
                {{/each}}
              </ul>
            </div>
            {{/if}}
		      {{{body}}}
        </div>
      </div>
      <div class="push"></div>
      {{> footer}}
    </div>
    {{> foot}}
  </body>
</html>
