<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="https://www.facebook.com/2008/fbml" itemscope="itemscope" itemtype="http://schema.org/Product">
{{> head}}

<body style="background-color: #000">
    <div id="fb-root"></div>
    <script>
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=466982513351243&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>
    <div class="wrapper">
        <div class="show-for-medium-up">
            {{> header}}
        </div>
        <div class="container">
            <div class="main-content">
                <div class="main-head">
                    {{#if errors}}
                    <div class="round alert label">
                        <ul>
                            {{#each errors}}
                            <li>{{this}}</li>
                            {{/each}}
                        </ul>
                    </div>
                    {{/if}} {{{body}}}
                </div>
            </div>
            <div class="push"></div>
            {{> footer}}
        </div>
        {{> foot}}
</body>

</html>
